<!--サイト訪問者がログインしているかどうかに応じて異なるHTMLを提供する-->

<% if logged_in? %>
　<%= render 'static_pages/home_logged_in' %>
　
　<div>
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
　
<% else %>
  <%= render 'static_pages/home_not_logged_in' %>
<% end %>